doctype html
html
 head
  title timestamp microservice
 body
  style span {color: grey;} code {background-color: lightgrey; border-radius: 5px; padding: 2px;}
  h6 
   a(href="https://karthiknallasivan.github.io") Me
  h3 Example usage:
  |  
  code https://timestampms.glitch.me/March
   span %20
   code 2,
   span %20
   code 2000
  br
  |  
  code https://timestampms.glitch.me/951935400
  h3 Example output:
  |  
  code { &quot;unix&quot;: 951935400, &quot;natural&quot;: &quot;March 2, 2000&quot; }